@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", "Jua", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 공통요소 */
.content {
  position: relative;
  display: block;
  padding: 5rem 2rem;
  border-bottom: 1px solid #929292;
}
h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: red;
}
h2 {
  color: cadetblue;
  padding: 1.8rem 0 0.5rem 0;
}
.content-inner ul {
  padding-left: 2rem;
}
.content-inner li {
  list-style: square;
  padding: 0.2em 0;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
.content-wrap {
  padding-left: 17vw;
}

/* navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  border-right: 1px solid #929292;
  z-index: 99;
}
.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 100vh;
  background: #9dd6c8;
}
.nav-name {
  display: none;
}
.nav-title img {
  position: relative;
  display: block;
  width: 160px;
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.nav-icon {
  display: none;
  background: transparent;
  border: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.gnb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

.gnb li:hover a {
  background: rgba(255, 255, 255, 0.2);
}
.gnb li a {
  display: inline-block;
  width: 15rem;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s;
}
.gnb li a:hover {
  color: #fff;
  text-shadow: 1px 1px 5px rgb(122, 122, 122);
}

/* main */
/* about seciton */
.about span {
  font-size: 1.3rem;
  font-weight: 500;
}
.name {
  font-family: "Jua", sans-serif;
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  color: rgb(28, 82, 83);
}
.name::after {
  display: none;
}
.about P {
  font-size: 1.2em;
  margin-bottom: 5rem;
}
.blank {
  display: block;
}

/* research section */
.research span {
  display: inline-block;
  padding-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #063c5f;
}
/* experiences section */
.experiences span {
  display: inline-block;
  padding-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #063c5f;
}
/* contact section */
.contact {
  position: relative;
  display: block;
}

/* scroll top */
.scroll {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  display: block;
}
.scr-top-btn {
  width: 3rem;
  height: 3rem;
  border: 0;
  background: #9dd6c8;
  border-radius: 50%;
  color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.scr-top-btn:hover {
  color: #000;
}

@media screen and (max-width: 1000px) {
  .content-wrap {
    padding-left: 1vw;
    padding-top: 1.5vh;
  }
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background: #9dd6c8;
  }
  .nav-name {
    display: block;
    padding-left: 2rem;
    font-family: "Jua", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .nav-title img {
    display: none;
  }
  .nav-icon {
    display: block;
    background: transparent;
    border: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
    padding-right: 3rem;
  }
  .gnb {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background: #9dd6c8;
    padding: 0 2rem;
  }
  .gnb li a {
    width: 100%;
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .content-wrap {
    padding-left: 0.5vw;
  }
  .nav-name {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    padding: 1rem 0 0.4rem 0;
  }
  .name {
    font-size: 2rem;
  }
  .about span {
    font-size: 1.1rem;
  }
  .about P {
    font-size: 1em;
    margin-bottom: 4rem;
  }
  .scroll {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    display: block;
  }
  .scr-top-btn {
    width: 2.3rem;
    height: 2.3rem;
  }
  .gnb li a {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
}
@media screen and (max-width: 610px) {
  .content-wrap {
    padding-top: 2.5vh;
  }
  .gnb li a {
    width: 100%;
    font-size: 14px;
    text-align: left;
  }
}
@media screen and (max-width: 570px) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 14.5vh;
    background: #9dd6c8;
  }
  .gnb {
    padding: 0 2rem;
  }
}
